*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
header {
 background-image: url(../img/top_bg.jpg);
 background-repeat: repeat-x;
 background-position: top center;
 min-height: 644px;
 position: relative;
 font-family: "BebasBold";
}
header a {
color: #fff;
}
.top_line {
	min-height: 97px;
	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 1px;
	box-shadow: rgba(255,255,255,.3)  0 0 1px;
	width: 100%;
	background-color: rgba(0,0,0,.60);
	padding: 22px 0;
}
.top_line a {
	font-size: 21px;
	border-bottom: #fff dashed 1px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.top_line a:hover {
	border-bottom: transparent 1px dashed;
}
.ta_left, .ta_right {
    padding-left: 47px;
    background-image: url(../img/top_map.png);
    background-repeat: no-repeat;
    background-position: top left;
    line-height: 24px;
}
.ta_left strong, .ta_right strong {
display: block;
color: #d12f22;
text-transform: uppercase;
font-weight: normal;
font-size: 32px;
}
.top_line .logo {
	border-bottom: none;
	position: absolute;
	margin-top: -18px;
}
.top_line:hover .logo {
	border-bottom: none;
}
.logo_wrap {
	position: relative;
	width:249px;
	margin: auto;
}
.ta_right {
	background-image: none;
	pading: 0;
	text-align: right;
	vertical-align: top;
}
.ta_right span {
	color: #fff;
}
header h1 {
	text-align: center;
	color: #fff;
	margin-top:72px;
	font-size: 39px;
	text-shadow: rgba(0,0,0,.55) 0 3px;
	font-family: "BebasRegular";
}
.button {
    display: inline-block;
    background-color: #d12f22;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    font-size: 20px;
    padding: 0 20px;
    border-bottom: #ac160a 4px solid;
}
.button:hover {
	background-color: #f33222;
}
.button:active {
	background-color: #9e2218;
}
header .button {
	margin-right: 20px;
}
.st_button {
    line-height: 18px;
    padding-top: 8px;
    text-align: left;
    padding-left: 66px;
    background-image: url(../img/camera.png);
    background-repeat: no-repeat;
    background-position: 11px 7px;
}
.buttons_top {
    position: absolute;
    width: 100%;
    bottom: 32px;
}
.top_mnu {
	height: 62px;
	background-color: #242424;
	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 1px;
	box-shadow: rgba(255,255,255,.3)  0 0 1px;
	font-family: "BebasRegular";
	text-transform: uppercase;
	border-bottom: #3b3b3b 1px solid;
}
.top_mnu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.top_mnu a {
	color: #FFF;
	font-size: 20px;
	padding: 0 26px 0 48px;
	display: block;
	line-height: 62px;

	background-image: url(../img/top_mu_iconset.png);
	background-repeat: no-repeat;
	background-position: 20px 15px;
}
.top_mnu li {
	float: left;
}
.top_mnu li.active a,
.top_mnu li:hover a {
	background-color: #050505;
}
.top_mnu li:nth-child(2) a {
background-position: 15px -64px;
	border-right: #3b3b3b 1px solid;
}
.top_mnu li:nth-child(3) a {
background-position: 21px -140px;
	border-right: #3b3b3b 1px solid;
}
.top_mnu li:nth-child(4) a {
background-position: 18px -219px;
	border-right: #3b3b3b 1px solid;
}
.top_mnu li:nth-child(5) a {
background-position: 19px -314px;
	border-right: #3b3b3b 1px solid;
}
.top_mnu li:nth-child(6) a {
background-position: 19px -410px;
}
.waranty {
	float: right;
	color: #fff;
	cursor: default;
	border:#fff 3px solid;
	border-radius: 3px;
	padding: 3px 5px;
	font-size: 15px;
	line-height: 16px;
	margin-top: 8px;
	position: relative;
}
.w_left {
	font-family: "BebasBold";
	font-size: 20px;
	margin-top: 10px;
	margin-right: 7px;
}
.w_left span {
	font-size: 34px;
	font-family: "BebasBold";
}
.w_right {
	font-family: "RobotoCondensedRegular";
}
.w_left,
.w_right {
	display: inline-block;
vertical-align: top;
}
.main_cuts {
	background-color: #191919;
	padding: 20px 0 32px 0;
}
.main_cuts h2 {
	text-transform: uppercase;
	color: #c9c9c9;
	font-family: "BebasRegular";
	text-align: center;
	font-size: 40px;

}
.main_cuts h2 strong {
color: #fff;
}
.main_cuts h2 span {
color: #d12f22;
}
.section h2 {
	position: relative;
}
.s_black h2::before {
	content: '';
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/section_lines.png);
	margin-top: 18px;
	margin-left: -67px;
}
.s_black h2::after {
	content: '';
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/section_lines.png);
	background-position: -50px 0px;
	margin-top: 18px;
	margin-left: 18px;
}
.mc_item {
	border: #353535 1px solid;
	border-radius: 2px;
}
.mc_wrap {
	text-align: center;
	padding: 0;
	position: relative;
}
.mc_item_wrap {
	margin-left: 30px;
	margin-bottom: 15px;
	width: 161px;
	display: inline-block;
	text-align: center;
	font-family: "BebasBold";
	font-size: 20px;
}
	.mc_item_wrap:nth-child(1) {
		margin-left: 0;
	}
.mc_item_wrap a {
	color: #fff;
}
.mc_item span {
	display: block;
	height: 85px;
	width: 137px;
	background-image: url(../img/item_iconset.png);
	margin: 15px 2px 10px;
}
.mc_item h4 {
	margin-top: 10px;
	margin-bottom: 5px;
	color: #fff;
}
.mc_item_wrap:nth-child(2) span {
	background-position: -139px 6px;
}
.mc_item_wrap:nth-child(3) span {
	background-position: -280px 10px;
}
.mc_item_wrap:nth-child(4) span {
	background-position: 406px 6px;
}
.mc_item_wrap:nth-child(5) span {
	background-position: -553px 8px; 
}
.mc_item_wrap:nth-child(6) span {
	background-position: 130px 8px; 
}
.mc_item_wrap.active,
.mc_item:hover {
	background-color: #2a2a2a;
}
.mc_item_wrap.active .mc_toggle,
.mc_item:hover .mc_toggle {
	background-color: #353535;
	background-image: url(../img/cuts_down_iconset.png);
    background-repeat: no-repeat;
    background-position: -116px 10px;
}
.mc_toggle {
	background-color: #212121;
    height: 25px;
    position: relative;
    cursor: pointer;
    background-image: url(../img/cuts_down_iconset.png);
    background-repeat: no-repeat;
    background-position: 73px 10px;
}
.mc_item_wrap ul {
	position: absolute;
	width: 100%;
	margin-top: 20px;
	padding: 15px 0;
	list-style-type: none;
	font-size: 20px;
	background-color: #353535;
	z-index: 10;
	left: 0;
	display: none;
}
.mc_item_wrap ul li {
	display: inline-block;
	font-family: BebasRegular;
}
.mc_item_wrap ul li a {
	padding: 0px 10px;
	text-decoration: underline;
}
.mc_item_wrap ul li a:hover {
	text-decoration: none;
}
.mc_item_wrap_af {
	content: '';
	background-image: url(../img/menuarr.png);
	width: 22px;
	height: 22px;
	position: absolute;
	background-position: -1px 9px;
	background-repeat: no-repeat;
	margin-left: 70px;
	display: none;
}
.mc_b_button {
	height: 93px;
		text-align: center;
}
.mc_b_button a {
	font-family: BebasRegular;
	font-size: 20px;
	color: #fff;
    margin-top: 30px;
}
.s_white {
	text-align: center;
	background-color: #e9e9e9;
}
.s_white h2 {
	font-family: "BebasRegular";
	font-size: 40px;
	color: #050505;
	margin-top: 20px;
	margin-bottom: 9px
}
.s_white h2::before {
	content: '';
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/w_s_lines.png);
	margin-top: 18px;
	margin-left: -59px;
}
.s_white h2::after {
	content: '';
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/w_s_lines.png);
	background-position: -50px 0px;
	margin-top: 18px;
	margin-left: 9px;
}
.s_white h3 {
	font-family: "RobotoRegular";
	font-size: 16px;
	color: #050505;
	margin-top: 6px;
	margin-bottom: 32px;
}
.mc_gray {
	background-color: #d6d6d6;
}
}
.mc_gray h4 {
	margin-top: 246px;
	text-align: center;
	font-family: RobotoRegular;
	font-size: 16px;
	color: #050505;
}
.mc_gray img {
	min-width: 100%;
	max-width: 100%;
	margin-top: 39px;
	max-height: 232px;
	border-top: #ac160a 8px solid;
}
.first_p {
	text-align: center;
}
.second_p {
	text-align: center;
}
.third_p {
	text-align: center;
}
.fourth_p {
	text-align: center;
}
.fivth_p {
	text-align: center;
}
.sixth_p {
	text-align: center;
}
.bottom_w {
	margin-top: 30px;
}
.bottom_w a {
	color: #fff;
}
.b_button {
text-align: right;
font-family: BebasBold;
}
.b_hetxt {
	font-family: "BebasRegular";
	font-size: 21px;
	left: 0;
	margin-top: -31px;
	color: #050505;
}
.bottom_w img {
	max-width: 100%;
	max-width: 100%;
	bottom: 0;
	position: absolute;
	padding-right: 15px;
}
.bottom_w p {
	font-family: "RobotoRegular";
	font-size: 17px;
	color: #5a5a5a;
}
footer {
	background-color: #2a2a2a;
	color: #fff;
	padding: 28px 0 35px;
	font-family: "BebasBold";
	font-size: 20px;
}
footer a {
	color: #fff;
}
.bot_mnu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.bot_mnu li {
	display: inline-block;
	padding: 0 14px;
	text-decoration: underline;
}
.bot_mnu li:hover {
	text-decoration: none;
}
.adap_button {
	height: 38px;
	width: 83px;
	border: #fff 3px solid;
	margin-top: 8px;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
	display: none;
	float: right;
}
.adap_button .m_txt {
	vertical-align: middle;
	color: #fff;
	margin-top: 2px;
	font-family: "BebasBold";
	font-size: 20px;
}
.adap_button:hover {
	background-color: #4e4d4d;
	border: #ccc 3px solid;
}
.adap_button .m_txt:hover {
	color: #ccc;
}
.main_cuts.active h2 {
	margin-top: 355px;
}