/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.s_tizers .row > div {
	text-align: center;
}
.tiz_descr {
	display: block;
	margin-top: 10px;
}
.profi_right{
	margin-left: -30px;
}
.profi_item:last-child {
	margin-bottom: 0;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.s_tizers .row > div {
	text-align: left;
}
.tiz_descr {
	display: inline-block;
	margin-top: 10px;
}
.profi_item {
	text-align: center;
}
.profi_right{
	margin: 0;
}
.profi_item:last-child {
	margin-bottom: 35px;
}
.owl-nav button {
  top: 60px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.top_phone, .logo {
	text-align: center;
}
.logo {
	margin-bottom: 20px;
}
.top_phone .tab_item {
	font-size: 30px;
}

.top_header {
	text-align: center;
}
.s_contacts h2 {
	margin-bottom: 20px;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top_header {
		margin-top: 30px;
	}
	.top_header h1 {
		font-size: 50px;
		line-height: 50px;
	}
	.top_header h2 {
		font-size: 25px;
	}
	.button_wrap {
		text-align: center;
	}
	.s_back h3 {
		font-size: 20px;
	}
	.s_contacts .tabs .tab {
		padding: 0 20px;
	}
	footer .bottom_phone .tab_item {
    font-size: 30px;
}
}


@media only screen and (max-width : 400px) {
	section h2 {
		font-size: 35px;
		line-height: 40px;
	}

}




/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}